@model Innovators.Models.Task 


<form enctype="multipart/form-data" method="post" asp-action="CreateTask">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Task</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="TaskName"></label>@*These names come from our properties in the model *@
                    </div>
                    <div class="col-6">
                        <label asp-for="TaskDescription"></label>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="TaskName" class="form-control" />
                        <span asp-validation-for="TaskName" class="text-danger"></span>

                    </div>
                    <div class="col-6">
                        <input asp-for="TaskDescription" class="form-control" />
                        <span asp-validation-for="TaskDescription" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="CreateTask" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="SetDate"></label>@*These names come from our properties in the model *@
                    </div>
                    <div class="col-6">
                        <label asp-for="DueDate"></label>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="SetDate" class="form-control" />
                        <span asp-validation-for="SetDate" class="text-danger"></span>

                    </div>
                    <div class="col-6">
                        <input asp-for="DueDate" class="form-control" />
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>




@*
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01"></span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                       aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                <input asp-for="Document" />
            </div>
        </div>*@


        @*<div class="row">
            <div class="col-12">
                <div class="custom-file">
                    <div class="col-6">
                        <label asp-for="Document" class="form-control custom-file-input active"></label>@*These names come from our properties in the model *@
         @* <label class="custom-file-label">Choose File...</label>
                    </div>

                   <div class="col-6">
                        <input asp-for="Document" class="form-control" />
                        <span asp-validation-for="Document" class="text-danger"></span>
                    </div>
                    </div>
                    </div>
                    </div>*@

        <div class="row">
            <div class="col-12">
                <div class="file-upload-wrapper">
                    <input type="file" id="input-file-now-custom-1" class="file-upload" data-default-file="https://mdbootstrap.com/img/Photos/Others/images/89.webp" />
                </div>

                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="Document" class="form-control" />
                        <span asp-validation-for="Document" class="text-danger"></span>

                    </div>
                    
                </div>
            </div>
        </div>

                    




    
    
</form>

@section Scripts{

    <script>
        $('.file-upload').file_upload();
    </script>
        

   @* <script>
        $(document).ready(function () {
            $('.costom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            })
        })
    </script>*@



    }
