<link rel="stylesheet" href="~/css/bootstrap.css" />
@{
    ViewData["Title"] = "StudentProgress";
}

<h1>StudentProgress</h1>

<div>
    <div class="col-6 text-left">
        <a asp-controller="Sub" asp-action="InformationTechnology" class="btn btn-primary">Information Technology</a>
    </div>

    <div class="col-6 text-left">
        <a asp-controller="Sub" asp-action="CivilEngineering" class="btn btn-primary">Civil Engineering</a>
    </div>

    <div class="col-6 text-left">
        <a asp-controller="Sub" asp-action="Sub" class="btn btn-primary">Back</a>
    </div>

</div>
